.form_tag, .content_tags{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
} 

.form_tag{
    width: 100%;
    display: flex;
    position: relative;
    left: 0;
}


.flex_column{
    flex-direction: column;
}

.form_tag input[type='search'], .form_tag input[type='text'], .form_tag textarea{
    width: 100%;
    padding: 5px;
    padding-bottom: 10px;
    border:none;
    border-bottom: 1px solid #77A7FF;
}

.btn_tag{
    border:none;
    display: block;
    background: #EBEDF0;
    color: #4b4f56;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    border-radius: 3px;
}

.btn_tag:hover{
  background: #77A7FF;
  color: #fff; 
  cursor: pointer;   
}

.content_tags{
    width: 100%;
    background: #f5f6f7;
    position: absolute;
    top: 2pc;
}

.content_tags div{
    display: flex;
    /* align-items: center; */
    padding: 3px 5px;
}

.content_tags div:hover{
    background: #EBEDF0;
    cursor: pointer;
}

.content_tags div img{
    display: block;
    width: 50px;
    height: 50px;
    object-fit:cover;
}

.content_tags div div{
    flex-direction: column;
}

.content_tags div div p{
    padding: 0;
    margin: 0;
}

.content_tags div div p:nth-child(2){
    color: #aaaaaa;
}
